billiard
click-didyoumean
click-plugins
click-repl
colorama~=0.4.6
confluent-kafka
dj-stripe
django-redis
djangorestframework~=3.15.1
iniconfig
kafka-python
kombu
packaging
pip-chill
pluggy
psycopg
psycopg2-binary
python-dateutil
python-dotenv~=1.0.1
tzdata
Django~=5.0.4
stripe~=4.2.0
requests~=2.31.0
pytest~=8.1.1