billiard
click-didyoumean
click-plugins
click-repl
colorama
confluent-kafka
dj-stripe
django-redis
djangorestframework
iniconfig
kafka-python
kombu
packaging
pip-chill
pluggy
psycopg
psycopg2-binary
python-dateutil
python-dotenv
tzdata
Django
stripe
requests